<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>笔记列表</title>
</head>
<body>
<p>{{ username }}的笔记 <a href="/note/add">添加新笔记</a> <a href="/user/index">返回首页</a></p>

<table>
    <tr>
        <th>ID</th>
        <th>标题</th>
        <th>创建时间</th>
        <th>修改时间</th>
        <th>修改&nbsp删除</th>

    </tr>
    {% for i in note %}

    <tr>
            <td>{{ i.id }}</td>
        <td><a href="/note/show_note/{{ i.id }}">{{ i.title }}</a></td>

        <td>{{ i.create_time }}</td>
        <td>{{ i.mod_time|date:'y-m-d-h-s' }}</td>
        <td><a href="/note/update_note/{{ i.id }}">修改</a>&nbsp
            <a href="/note/del/{{ i.id }}">删除</a> </td>
        </tr>

    {% endfor %}
</table>
</body>
</html>